<mat-card class="card">
  <mat-card-header style="text-align: center">
    <mat-card-title>{{ this.character.fullName }}</mat-card-title>
    <mat-card-subtitle>{{ this.character.family }}</mat-card-subtitle>
  </mat-card-header>
  <img
    class="card-image"
    mat-card-image
    src="{{ this.character.imageUrl }}"
    loading="lazy"
    width="200px"
    height="200px"
  />
  <mat-card-content> </mat-card-content>

  <!-- FUTURAS ACTUALIZACIONES AÑADIR CON LIKE A UN ARRAY LOCALSTORAGE Y VER TUS FAVORTIOS  -->
  <!-- <mat-card-actions>
    <button mat-raised-button>LIKE</button>
    <button mat-raised-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
