.suggestForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px;
  background-color: rgb(249, 247, 247);
}

form {
  width: 100%;
}
mat-form-field {
  width: 100%;
}
