.characters {
  h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 3em;
    font-weight: 400;
    background-color: rgba($color: #ebe6e6, $alpha: 0.3);
  }
}
.characters-grid {
  margin: 10px;
  display: grid;
  gap: 20px;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
  min-height: 25vh;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px;
  h1 {
    font-weight: 600;
  }
  p {
    font-size: 1.5em;
    text-align: center;
  }
}
.carousel-container {
  display: flex;
  justify-content: center;
  .carousel {
    background-color: gray;
    width: 400px;
    height: 300px;
    .carousel-img {
      display: flex;
      justify-content: center;
      img {
        width: 300px;
        height: 300px;
        object-fit: fill;
      }
    }
  }
}
