.characters {
  h2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 3em;
    font-weight: 400;
    background-color: rgba($color: #ebe6e6, $alpha: 0.3);
  }
}
.intro-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f9f9f9;
  padding: 40px;
  h1 {
    font-weight: 600;
  }
  p {
    font-size: 1.5em;
    text-align: center;
  }
}
.carousel-container {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  .carousel {
    width: 900px;
    height: 400px;
    @media (max-width: 760px) {
      max-width: 300px;
    }
    .carousel-img {
      display: flex;
      justify-content: center;
      img {
        height: 400px;
        object-fit: fill;
      }
      :hover {
        cursor: pointer;
      }
    }
    .carousel-caption {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h3 {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0px 1.1em 0px 1.1em;
      }
      p {
        background-color: rgba(0, 0, 0, 0.2);
        padding: 0px 1.1em 0px 1.1em;
      }
    }
  }
}
