<ng-container class="search-bar">
  <mat-accordion class="headers-align">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Search your favourite! </mat-panel-title>
        <mat-panel-description>
          Type the name of your favourite
          <mat-icon>search</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="input">
        <mat-label>Personaje Favorito</mat-label>
        <input
          type="text"
          matInput
          placeholder="Jon Snow"
          value=""
          [(ngModel)]="query"
          (keyup)="onSearch()"
        />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
</ng-container>
