// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.
@import "~bootstrap-icons/font/bootstrap-icons.css";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GOT-APP-primary: mat.define-palette(mat.$indigo-palette);
$GOT-APP-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$GOT-APP-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GOT-APP-theme: mat.define-light-theme(
  (
    color: (
      primary: $GOT-APP-primary,
      accent: $GOT-APP-accent,
      warn: $GOT-APP-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GOT-APP-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Nunito, "Helvetica Neue", sans-serif;
  background-color: rgb(170, 194, 201);
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

.green-snackbar {
  --mdc-snackbar-container-color: rgb(71, 175, 109) !important;

  color: white;
  border-radius: 50px;
}
.green-snackbar button {
  background-color: rgb(48, 119, 74);
  color: white !important;
  border: none;
}

.red-snackbar {
  --mdc-snackbar-container-color: #f44336 !important;

  background: #f44336 !important;
  color: white;
  border-radius: 50px;
}
.red-snackbar button {
  background-color: #f44336;
  color: white !important;
  border: none;
}

.auth-container {
  font-family: Nunito;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.form-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-width: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.795);
}

.form-header {
  font-size: 28px;
}

.form-control:focus {
  border-color: #0a0a0a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(8, 5, 5, 0.6);
}
